.main
{
    width:500px;
    height:150px;
}
.c3
{
    text-align: center;
}
.av
{
    width:300px;
    float:left
}
.avatar
{
    width:250px;
}
.sp{
    margin-right: 330;
    margin-left: 330;
    font-size: 15px;
    font-weight: bold;
}
